.circular-image-placeholder {
    width: 150px;
    /* Adjust the width and height as needed */
    height: 150px;
    border-radius: 50%;
    /* Makes it circular */
    border: 2px dashed #ccc;
    /* Optional: Add a border */
    text-align: center;
    line-height: 150px;
    /* Center content vertically */
    font-size: 20px;
    /* Optional: Adjust font size */
    color: #ccc;
    /* Optional: Text color */
    background-color: #f0f0f0;
    /* Optional: Background color */
    cursor: pointer;
    /* Optional: Change cursor on hover */
    background-size: cover;
    /* Resize the background image to cover the circular area */
    background-position: center center;
    /* Center the background image */
}

  /* Hide the file input, so only the circular placeholder is visible */
  #borrower_photo {
      display: none;
  }

  /* Optional: Style the file input label (you can adjust this as needed) */
  label[for="borrower_photo"] {
      display: block;
      margin-top: 10px;
      text-align: center;
  }



.subtitle {
    font-size: 18px;
    font-weight: 800;
    color: #004EDA;
    margin-top: 30px;
}

#createAccountContent{
    width: 100%;
    padding: 20px;
}

#createAccountContent .row {
    margin-top: 15px;
}

#createAccountContent label {
    font-size: 14px;
    font-weight: 600;

}

#createAccountContent input {
    font-size: 15px;
    padding: 23px 15px;

}

#createAccountContent select {
    font-size: 15px;
    padding: 10px 10px;
    display: block;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}