.table {
   
    background-color: white;
    font-size: 13px;
    backdrop-filter: blur(7px);
    box-shadow: 0 .2rem .5rem #0005;
    border-radius: .8rem;
    padding: 40px;
}

.table h1 {
    font-size: 18px;
    font-weight: 800;
    color: #004EDA;
}

/* Your existing styles or reset styles can go here */

/* Your existing styles or reset styles can go here */

.fixed-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
}

.overlay-bg {
    position: absolute;
    inset: 0;
    background-color: rgba(128, 128, 128, 0.75);
}

.content-container {
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    max-width: 50rem;
    position: relative;
    /* Add this line */
    z-index: 1;
    /* Add this line */
}