.tableContainer {
   
    background-color: white;
    font-size: 13px;
    backdrop-filter: blur(7px);
    box-shadow: 0 .2rem .5rem #0005;
    border-radius: .8rem;
    padding: 40px;
}

.tableContainer h1 {
    font-size: 18px;
    font-weight: 800;
    color: #004EDA;
}

.button {
    padding: 5px 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.button:hover {
    color: #fff;
    background-color: #0056b3;
}

.profile-info {
    display: flex;
    align-items: center;
    /* This will vertically align the items in the center. */
}

.profile-info .name{
    font-weight: bold;
}

.profile-info img{
    margin-right: 30px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.modal-image img {
    width: 9rem;
    height: 9rem;
    border-radius: 10px;
}

.tight-spacing {
    margin-bottom: 5px;
}